Django==5.2.3
django-tailwind==4.0.1
gunicorn==23.0.0
whitenoise==6.9.0
dj-database-url==2.1.0
psycopg2-binary==2.9.10
python-dotenv==1.1.1
pillow==11.3.0
sqlparse==0.5.3
typing_extensions==4.12.2
requests==2.32.4
stripe==12.3.0
google-ai-generativelanguage==0.6.10
google-auth==2.35.0
google-api-python-client==2.149.0
google-cloud-storage==2.18.2
protobuf==6.31.1