{% extends "base.html" %}
{% load static %}

{% block title %} Cart list {% endblock %}

{% block article %}

<nav class="second_header">
    <h1>Winkelmand</h1>
    <a href="{% url 'product_list' 'all' %}">← Back to products</a>
</nav>


<section class="cart_list my_container">
    {% if cart_items %}
    <ul>
        {% for item in cart_items %}
        <li class="cart_product">
            <div class="title_cart_item">
                <img class="product_image" src="{{ item.image }}" alt="{{ product.name }}">
                <strong class="product_name">{{ item.product.name }}</strong>
            </div>

            <div class="product_price">
                <strong class="price">€{{ item.product.price }}</strong> x
                <form method="post" action="{% url 'update_cart_quantity' item.product.id %}" class="cart-update-form">
                    {% csrf_token %}
                    <label>
                        <input
                                type="number"
                                name="quantity"
                                min="1"
                                step="1"
                                value="{{ item.quantity }}"
                                class=" quantity-input"
                        >
                    </label>
                </form>
                =
                <strong class="totaal">€{{ item.total }}</strong>
            </div>
            <form method="post" action="{% url 'remove_from_cart' item.product.id %}">
                {% csrf_token %}
                <button class="delete_button" type="submit"><strong> X </strong>Remove</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Cart is empty.</p>
    {% endif %}
    <nav class="pay_nav">
        <p><strong>Total:</strong> €{{ total_price }}</p>
        <form method="post" action="{% url 'create_checkout_session' %}">
            {% csrf_token %}
            <button class="mt-4 bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700">
                ✅ Pay with Stripe
            </button>
        </form>
    </nav>
</section>



{% endblock article %}