{% extends "base.html" %}
{% load static %}

{% block title %} Complaint {% endblock %}

{% block article %}

<nav class="second_header">
  <h1> We care for your convenience </h1>
  <a href="{% url 'contact'  %}">← Terug naar klantservice</a>
</nav>
<section class="complaint  my_container" >
  <h2>Wat gebeurt? </h2>
  <form class="complaint_form">
    <label>Voornaam: <input type="text"></label>
    <label>Achternaam: <input type="text"></label>
    <label>E-mail: <input type="email"></label>
    <label>Number: <input type="tel"></label>
    <label class="complaint_text">Klacht: <input type="text"></label>
  </form>
</section>


{% endblock article %}