{% extends "base.html" %}
{% load static %}

{% block title %} Contact {% endblock %}

{% block article %}

<nav class="second_header">
    <h1>Contact Us</h1>
    <a href="{% url 'home'  %}">← Back to home</a>
</nav>
<div class="my_container">
    <section class="contact contact_item">
        <h2>Contact options</h2>
        <div class="contactopties">
            <a href="mailto:info@zosiuc.dev">✉️ E-mail: info@zosiuc.dev</a>
            <a href="tel:+310612345678">📞 Telefoon: 06 12345678</a>
            <a href="https://wa.me/31649268880">💬 WhatsApp</a>
            <p>🗨️ Live chat: This will be available on the site</p>
            <p><strong>Reaction within 24 hours</strong> (often faster))</p>
        </div>
    </section>

    <section class="faq contact_item">
        <h2>Frequently Asked Questions (FAQ)</h2>
        <ul class="content">
            <li><strong>How can I track my order?</strong><br>You will receive a Track & Trace link by email after shipping.
            </li>
            <li><strong>How do I return a product?</strong><br>You have 30 days to return your order. See the returns page for instructions.
            </li>
            <li><strong>What payment methods do you offer?</strong><br></li>iDEAL, credit card, PayPal and more.
        </ul>
    </section>

    <section class="volg_bestelling contact_item">
        <h2>Track your order</h2>
        <div class="content">
            <p>After your order, you will receive an email confirmation and a Track & Trace code once the package has been shipped.</p>
        </div>
    </section>

    <section class="klachtenprocedure contact_item">
        <h2>Complaints procedure</h2>
        <div class="content">
            <p>Do you have a complaint? Send us a message via email or WhatsApp. We'll respond quickly, professionally, and with a customer-focused approach.</p>
            <p> Please follow our complaints procedure on the <a href="{% url 'complaint' %}"></a>complaints page.</p>
        </div>

    </section>
</div>


{% endblock article %}