{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block article %}

<section class="hero_container">
    <div class="hero">
        <h1>Welkom op de Zosiuc Store!</h1>
        <p>Waar je jouw tijd besparen kunnen en online alles kunnen vinden </p>
    </div>

</section>
<section class="items_container">
    <nav class="section_title">
        <h2>Assortment</h2>
        <a rel="shop" href="{% url 'product_list' 'all' %}">see all </a>
    </nav>

    <div class="items">
        {% for category in categories %}
        <a rel="categories" href="{% url 'product_list' category.name %}">
        <div class="item">{{category.name}}</div>
        </a>
        {% endfor %}
    </div>
</section>
<section class="items_container">
    <nav class="section_title">
        <h2>New added</h2>
        <a rel="new" href="{% url 'product_list' 'new' %}">see all </a>
    </nav>

    <div class="items">
        {% for product in products %}
        {% if product.new %}
        <div class="item">
        <a  href="{% url 'product_detail' product.id %}">
            <img src="{{ product.image.url }}" alt="{{product.name}}" class="w-[220px] ">
            <br>
            <strong>{{product}}</strong>
            <i>€{{product.price}}</i>
        </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
<section class="items_container">

    <nav class="section_title">
        <h2> recent orders</h2>
        <a href="{% url 'my_orders' %}">Bekijk alle
            bestellingen →</a>
    </nav>
    {% if recent_orders %}
    <div class="items">
        <ul class="items">
            {% for order in recent_orders %}
            <li class="item">
                <strong>Bestelling {{ order.id }}</strong> {{ order.created_at|date:"d M Y" }}
                <ul class="">
                    {% for item in order.items.all %}
                    <li>{{ item.quantity }}× {{ item.product.name }} (€{{ item.price }})</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>

    </div>
    {% endif %}
</section>


{% endblock article %}
