{% extends "base.html" %}
{% load static %}

{% block title %} Your Orders {% endblock %}

{% block article %}

<nav class="second_header">
    <h1>Recent Orders</h1>
    <a href="{% url 'home' %}">← Terug naar Home</a>
</nav>

<section class="my_orders my_container">
    {% if orders %}
    <ul class="orders">
        {% for order in orders %}
        <li class="order">
            {{ order.created_at|date:"d M Y" }}
            <div class="order_details">
                <strong>Ordernummer {{ order.id }}</strong>
                <h3>Status:
                    <strong>
                    {% if order.paid %}
                        Betaald
                    {% else %}
                        Onbetaal
                    {% endif %}
                    </strong> </h3>
            </div>
            <ul class="order_items">
                {% for item in order.items.all %}
                {% if item.product and item.product.id %}
                <a href="{% url 'product_detail' product_id=item.product.id  %}">
                    <li class="order_item">
                        <img src="{{ item.product.image.url }}" alt="{{item.product}}" class="item_image">
                        {{ item.quantity }} × {{ item.product }} (€{{ item.price }})
                    </li>
                </a>
                {% else %}
                <span class="text-red-500">No product found</span>
                {% endif %}

                {% endfor %}
            </ul>
        </li>
        <span class="onder_line"></span>
        {% endfor %}
    </ul>
    {% else %}
    <p class="">no orders yet</p>
    {% endif %}
</section>


{% endblock article %}