{% extends "base.html" %}
{% load static %}

{% block title %}  Product Details {% endblock %}

{% block article %}

<nav class="second_header">
    <h1>Product Details</h1>
</nav>

<section class="product_details my_container">
    {% if product %}
    <div class="images">
        <img src="{{product.image.url}}" alt="{{product.image.url}}">
        <img src="{{product.image.url}}" alt="{{product.image.url}}">
        <img src="{{product.image.url}}" alt="{{product.image.url}}">
        <img src="{{product.image.url}}" alt="{{product.image.url}}">
    </div>

    <ul class="details">
        <li>Artikel Name: <strong> {{product.name}}</strong></li>
        <li>Price: <strong> €{{product.price}}</strong></li>
        <li>Category: {{product.category.name}}</li>
        <li>Description: {{product.description}}</li>
        {% if product.new %}
        <li class="new">New</li>
        {% endif %}
    </ul>
    <form method="post" action="{% url 'add_to_cart' product.id %}">
        {% csrf_token %}
        <button class="add" type="submit">+</button>
    </form>
    <span class="break"></span>

    {% endif %}
</section>


{% endblock article %}