body {
    font-family: sans-serif;

    .hidden {
        display: none;
    }

    header {
        display: flex;
        z-index: 9999;
        align-items: center;
        padding: 0 10px;
        position: sticky;
        top: 0;
        width: 100%;
        height: 60px;
        background: #daccb6;
        gap: 8px;

        strong {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin-left: 20%;
        }

        button {
            position: relative;
            top: 5px;
            left: 5px;
        }

        .search {

            position: relative;
            z-index: 3000;

            .veld {
                width: 450px;
                padding: 10px;
                border-radius: 7px;
            }

            .store_list {
                width: 450px;
                padding: 10px;
                position: absolute;
                top: 55px;
                left: 0;
                border-radius: 7px;
                border: 1px solid #daccb6;
                background: #ffffff;
                z-index: 5000;
                list-style: none;

                .list_item {
                    transition: 0.6s;

                    &:hover {
                        transform: translateX(10px);
                        margin: 1px;
                        text-shadow: 2px 2px #91b5e8;
                    }
                }
            }
        }


    }


    main {
        display: flex;
        flex-direction: row;
        min-height: 100vh;


        .side_bar {
            display: none;
            min-width: 200px;
            height: 100vh;
            padding: 16px;
            background-color: #daccb6;
            flex-direction: column;
            z-index: 3000;
            position: fixed;
            top: 55px;
            left: 0;

            .aside_link {
                display: block;
                color: #fff;
                text-decoration: underline;
                transition: 0.6s;

                &:hover {
                    transform: translateX(4px);
                }
            }

        }


        article {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 14px;
            padding: 20px 20px 80px 20px;
            background-color: #ffffff;


            .second_header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                width: 100%;
                background-color: #c3a885;
                position: static;
                top: 60px;
                left: 0;
                color: white;

                a {
                    transition: 0.8s;
                }

                a:hover {
                    scale: 1.06;
                    box-shadow: 0 0 10px #eceef3;
                    border-radius: 7px;
                    padding: 5px;
                }
            }

            /* Home */

            .hero_container {
                display: flex;
                align-items: center;
                overflow-x: auto;
                position: relative;
                width: 100%;

                .banners-track > * {
                    flex: 0 0 auto;
                }
                .banners-track {
                    display: flex;
                    overflow-x: scroll;
                    white-space: nowrap;
                    scroll-behavior: auto;
                    -webkit-overflow-scrolling: touch;
                    scrollbar-width: none;
                    height: 550px;
                    padding: 20px 0;
                    &::-webkit-scrollbar {
                        display: none; /* Chrome/Safari */
                    }

                    .banner {
                        flex: 0 0 auto;
                        min-width: 200px;
                        margin-right: 16px;
                        background: white;
                        padding: 1rem;
                        border: 1px solid #ccc;
                        transition: 0.08s;

                        a {

                            img {
                                width: 100%;
                                height: 70%;
                            }

                            .banner-text {
                                padding: 10px;
                            }

                        }
                        &:hover {
                            scale: 1.06;
                            box-shadow: 0 20px 20px rgba(145, 138, 113, 0.47);
                        }
                    }


                }


            }


            .items_container {
                display: flex;
                flex-direction: column;
                gap: 20px;
                border-top: 2px solid #c3a885;


                .section_title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;
                    border-radius: 0 0 4px 4px;

                    background-color: #f8f1e6;

                    a {
                        transition: 0.8s;
                    }

                    a:hover {
                        scale: 1.06;
                        box-shadow: 0 0 10px #eceef3;
                        border-radius: 7px;
                        padding: 5px;
                    }
                }


                .items {
                    display: flex;
                    flex-direction: row;
                    overflow: scroll;
                    gap: 24px;
                    margin: 0;
                    padding: 20px;


                    .item {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        justify-content: center;
                        align-items: center;
                        min-width: 400px;
                        height: 400px;
                        border-radius: 10px;
                        background-color: rgb(255, 255, 255);
                        box-shadow: 0 0 20px rgba(145, 138, 113, 0.47);
                        transition: 0.6s;

                        .new_item {
                            display: flex;
                            flex-direction: column;
                            gap: 4px;

                            .product_image {
                                img {
                                    width: 260px;
                                    height: 220px;
                                    border-radius: 7px;

                                }

                            }

                            .product_name {
                                display: flex;
                                align-items: center;
                                justify-content: center;


                            }

                            .product_price {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                gap: 10px;

                            }


                        }

                        &:hover {
                            scale: 1.06;
                            transform: translateY(-6px);
                            box-shadow: 0 20px 20px rgba(145, 138, 113, 0.47);
                        }

                    }


                    .orders {
                        display: flex;
                        flex-direction: column;
                        height: 420px;
                        width: 100%;

                        .order {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;

                            .order_items {
                                display: flex;
                                flex-direction: row;
                                gap: 20px;
                                overflow: scroll;
                                background-color: #f8f1e6;

                                .order_item {
                                    padding: 10px;

                                    img {
                                        width: 80px;
                                        height: 80px;
                                    }

                                }

                            }

                        }
                    }
                }
            }

            /* Product list */

            .products_list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }


            /*@media screen and (min-width: 440px) {
                .products_list {
                    display: grid;
                    grid-template-columns:  repeat(2, 1fr);

                }
            }
            @media screen and (max-width: 1120px) {
                .products_list {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);

                }
            }
            @media screen and (min-width: 1120px) {
                .products_list {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);

                }
            }*/

            .product {
                display: flex;
                flex-direction: column;
                border-radius: 15px;
                margin: 10px auto;
                padding: 8px;
                gap: 10px;
                width: 300px;
                height: 400px;
                background: #efece8;

                .product_image {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    width: 300px;
                    height: 200px;
                }

                .product_name {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .product_price {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                }

                &:hover {
                    background-color: #daccb6;
                }

                p {
                    word-break: break-word;
                }

                .add {
                    border: none;
                    width: 50px;
                    height: 40px;
                    font-size: larger;
                    border-radius: 15px;
                    background-color: white;
                    color: #1b1b1b;
                    transition: 0.8s;

                    &:hover {
                        scale: 1.1;
                        background-color: #23a294;
                        color: white;
                    }
                }
            }


            /* Cart list */

            .cart_list {
                display: flex;
                flex-direction: column;
                padding: 20px;
                gap: 40px;

                .cart_product {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    width: 100%;
                    margin-bottom: 40px;

                    .product_image {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 80px;
                        height: 80px;
                    }

                    .product_name {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .product_price {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;

                        .price {

                        }

                        .quantity-input {

                            width: 40px;
                            text-align: center;
                            padding: 1px;
                            background-color: transparent;
                            border: dashed 1px blue;
                            border-radius: 15px;
                        }

                        .totaal {

                        }


                    }

                    form {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .delete_button {
                            transition: 0.8s;
                            padding: 10px;
                            border-radius: 15px;

                            strong {
                                color: red
                            }

                            &:hover {

                                scale: 1.08;
                                background-color: rgba(220, 187, 187, 0.68);

                            }

                        }
                    }
                }

            }

            /* product_details */

            .product_details {
                display: flex;
                flex-direction: column;
                gap: 40px;
                height: 100vh;

                img {
                    width: 400px;
                    height: 400px;
                }

                .details {
                    display: flex;
                    flex-direction: column;

                    li {
                        color: rgb(2, 18, 18);
                        text-shadow: 2px 1px 5px rgba(34, 34, 34, 0.6);
                    }

                    .new {
                        color: red;
                    }

                }

            }

            /* auth  */

            .form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 40px;

                h2 {
                    font-size: 40px;
                    font-weight: bolder;
                    text-align: center;
                    text-shadow: 2px 2px #34445a;
                    color: #91b5e8;;
                }

                form {
                    display: flex;
                    flex-direction: column;

                    gap: 20px;

                    .helptext {
                        display: block;
                    }

                    button {
                        background-color: #76aaca;
                        padding: 6px;
                        border-radius: 7px;
                        transition: 0.8s;

                        &:hover {
                            scale: 1.04;
                            background-color: #467495;
                            color: white;
                        }
                    }
                }

            }
            /* client service */

            .contact_item {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 6px;
                h2 {
                    padding: 10px;
                    font-size: 20px;
                }
                a {
                    color: #987f5d;

                }
                p {
                    color: #43290f;
                }
                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    padding: 6px;
                }
            }
            .contact {
                background: #efece8;

                .contactopties {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 16px;
                    padding: 6px;
                }
            }
            .faq {
                background: rgba(211, 185, 148, 0.67);
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    padding: 6px;
                    li {
                    }
                }

            }
            .volg_bestelling {
                background: #efece8;
                h2 {

                }
                p {

                }
            }
            .klachtenprocedure {
                background: rgba(211, 185, 148, 0.67);
                h2 {

                }
                p {
                    a {

                    }
                }
            }

            /* complaint */
            .complaint {
                background: #efece8;

                .complaint_form {
                    justify-content: center;
                    display: grid;
                    grid-template-columns: repeat(2, 280px);
                    grid-template-rows: repeat(2, 1fr);
                    gap: 16px;
                    padding: 20px;
                    label {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        height: 25px;

                        input {

                        }

                    }
                    .complaint_text{
                        flex-direction: column;
                        grid-column: span 2;
                        grid-row: 3;
                        height: 200px;
                        gap: 20px;
                        input {
                            width: 100%;
                            height: 100%;

                        }
                    }
                }
            }

        }
    }


    footer {
        display: flex;
        position: fixed;
        bottom: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #f8f5ec;
    }
}


/*
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}*/
