<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="title" content="Zosiuc OnLine"/>
    <meta name="description"
          content=" e-commerce shop"/>


    <link rel="icon" href="{% static 'shop/images/favicon.png' %}" type="image/png"/>
    <link rel="alternate icon" href="{% static 'shop/images/icon.png' %}" type="image/png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="favicon" href="{% static 'shop/images/favicon.png' %}" type="image/png+xml"/>
    <link rel="alternate favicon" href="{% static 'shop/images/favicon.svg' %}" type="image/svg+xml"/>
    <meta property="og:icon" content="{% static 'shop/images/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'shop/css/global.css' %}">
    <title>{% block title %} Shop {% endblock %}</title>
    <script src="{% static 'shop/js/script.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">


</head>
<body>

<header>
    {% block header %}
    <div class="main_header" id="main_header">
        <nav class="header_nav">
            <div class="links_groep">
                <button type="button" onclick="toggleSide_bar()" class="menu_button">
                    <img src="{%  static 'shop/images/menu.png' %}" alt="aside icon" class="menu_icon"/>
                </button>
                <div class="search_container">
                    <button class="search_button" id="search_button" onclick="toggleSearch_bar()">
                        <img src="{%  static 'shop/images/search.png' %}" alt="search icon" class="search_icon" id="search_icon"/>
                        <label class="search_bar" id="search_bar">
                            <input type="search" id="zoekveld" placeholder="Zoek producten..." class="veld" oninput="zoek()" />
                        </label>
                    </button>
                </div>
            </div>
            <a rel="home" href="{% url 'home' %}" class="main_icon">
            <img src="{% static 'shop/images/icon.png' %}" alt="main icon"></a>
        </nav>
        {% if user.is_authenticated %}
        <p class="greet_p" id="greet_p">Welkom, {{ user.username }}!</p>
        {% endif %}
        <ul id="resultaten" class="hidden"></ul>
    </div>

    {% endblock %}
</header>



<main >
    <aside class="side_bar" id="side_bar">

        <div>
            <strong> <a class="aside_link" href="{% url 'home' %}">Home</a></strong>
        </div>
        <span></span>
        <div class="profile" >
            <strong>Profile</strong>

            {% if user.is_authenticated %}
            <ul class="profile_links">
                <a class="aside_link" href="{% url 'password_change' %}">Wachtwoord wijzigen</a>
                <a class="aside_link" href="{% url 'password_reset' %}">Wachtwoord resetten</a>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="aside_link">Uitloggen</button>
                </form>
            </ul>

            {% else %}
            <ul class="profile_links">
                <li class="aside_link"><a href="{% url 'login' %}"> Login </a></li>
                <li class="aside_link"><a href="{% url 'register' %}">Sing up</a></li>
            </ul>

            {% endif %}

        </div>
        <span></span>
        <div class="contact">
            <strong>Contact</strong>
            <ul class="contact_links">
                <li class="aside_link"><a href="/contact/">Klant Service</a></li>
            </ul>
        </div>

    </aside>
    <article>
    {% block article %}
    <!-- Subpagina's vullen deze ruimte -->
    {% endblock article %}
    </article>
</main>



<footer>
    <div class="powered_by">
        <strong><i>Powered by</i></strong>
        <a href="https://zosiuc.dev">
            <img src="{% static 'shop/images/faceLogo.svg' %}" alt="zosiuc logo">
        </a>
    </div>
    <div><i>&copy; 2025 Zosiuc Software</i></div>

</footer>
</body>
</html>