<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="title" content="Zosiuc OnLine"/>
    <meta name="description"
          content=" e-commerce shop"/>


    <link rel="icon" href="/favicon.png" type="image/png"/>
    <link rel="alternate icon" href="/icon.png" type="image/png"/>

    <link rel="favicon" href="/favicon.png" type="image/png+xml"/>
    <link rel="alternate favicon" href="/favicon.svg" type="image/svg+xml"/>
    <meta property="og:icon" content="/icon.png"/>



    <link rel="stylesheet" href="{% static 'shop/css/global.css' %}">

    <title>{% block title %} Shop {% endblock %}</title>

    <script src="{% static 'shop/js/script.js' %}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<header>
    <button type="button" onclick="toggleSide_bar()">
        <img src="{%  static 'shop/images/app.png' %}" alt="aside icon" class="menu"/>
    </button>
    <div class="icon_search">

        <label class="search">
            <input type="search" id="zoekveld" placeholder="Zoek producten..." class="veld" oninput="zoek()" />
            <ul id="resultaten" class="hidden"></ul>
        </label>
    </div>

</header>


<main >
    <aside class="side_bar" id="side_bar">

        <div>
            <strong> <a class="aside_link" href="{% url 'home' %}">Home</a></strong>
        </div>
        <span></span>
        <div class="profile" >
            <strong>Profile</strong>

            {% if user.is_authenticated %}
            <p>Welkom, {{ user.username }}!</p>
            <ul class="profile_links">
                <a class="aside_link" href="{% url 'password_change' %}">Wachtwoord wijzigen</a>
                <a class="aside_link" href="{% url 'password_reset' %}">Wachtwoord resetten</a>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="aside_link">Uitloggen</button>
                </form>
            </ul>

            {% else %}
            <ul class="profile_links">
                <li class="aside_link"><a href="{% url 'login' %}"> Login </a></li>
                <li class="aside_link"><a href="{% url 'register' %}">Sing up</a></li>
            </ul>

            {% endif %}

        </div>
        <span></span>
        <div class="contact">
            <strong>Contact</strong>
            <ul class="contact_links">
                <li class="aside_link"><a href="/contact/">Klant Service</a></li>
            </ul>
        </div>

    </aside>
    <article>
    {% block article %}
    <!-- Subpagina's vullen deze ruimte -->
    {% endblock article %}
    </article>
</main>



<footer>
    <div class="powered_by">
        <strong><i>Powered by</i></strong>
        <a href="https://zosiuc.dev"><img src="{% static 'shop/images/faceLogo.svg' %}" alt="zosiuc icon" ></a>
    </div>
    <div><i>&copy; 2025 Zosiuc Software</i></div>

</footer>
</body>
</html>